@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  background-color: #D7E0AA;
  color:#2A4858;
  ;
}
.top-name{
  text-align: center;
  font-size: 40px;
}
.row-info{
  display: flex; 
  font-size: 20px; 
   justify-content: space-between;
}
.coin-image{
  height: 100px;
}
.coins{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.coin-item{
  display: flex;
  /* gap: 20px; */
  align-items: center;
  gap: 13rem;
  padding-top: 2rem;
}
.load{
  text-align: center;
}